<!-- this file is pulled by post.html -->
<footer id="post-meta" class="clearfix">
  <p class="small" valign="middle">© Copyright {{ site.time | date: '%Y' }} {{ site.author }}
    <!-- twitter -->
    <a href="http://twitter.com/{{ site.authorTwitter }}">
        <img class="avatar" src="{{ site.baseurl  }}assets/images/twitter-circle.png">
    </a>
    <!-- medium -->
    <a href="http://medium.com/{{ site.authorMedium }}">
        <img class="avatar" src="{{ site.baseurl  }}assets/images/medium1x.png">
    </a>    
    <!-- linkedin -->
    <a href="http://www.linkedin.com/in/{{ site.authorLinkedIn }}">
        <img class="avatar" src="{{ site.baseurl  }}assets/images/In-Blue-14.png">
    </a>
  </p>
</footer>
