    <!-- twitter -->
    <a href="http://twitter.com/{{ site.authorTwitter }}">
        <img class="avatar" src="{{ site.baseurl  }}assets/images/twitter-circle.png">
        <div>
            <span class="dark">{{ site.author }} BLAH</span>
        </div>
    </a>
    <!-- medium -->
    <a href="http://medium.com/{{ site.authorMedium }}">
        <img class="avatar" src="{{ site.baseurl  }}assets/images/medium1x.png">
    </a>

    
    <!-- linkedin -->
    <a href="http://www.linkedin.com/in/{{ site.authorLinkedIn }}">
        <img class="avatar" src="{{ site.baseurl  }}assets/images/LI-In-Bug.png">
    </a>
