<!-- this file is pulled by post.html and foot-share.html -->
<footer id="post-meta" class="clearfix">

    <!-- twitter -->
    <a href="http://twitter.com/{{ site.authorTwitter }}">
        <img class="avatar" src="{{ site.baseurl  }}assets/images/twitter-circle.png">
        <!-- div>
            <span class="dark">{{ site.author }}</span>
        </div -->
    </a>

    <!-- medium -->
    <a href="http://medium.com/{{ site.authorMedium }}">
        <img class="avatar" src="{{ site.baseurl  }}assets/images/medium1x.png">
        <!-- div>
            <span class="dark">{{ site.author }}</span>
        </div -->
    </a>

    
    <!-- linkedin -->
    <a href="http://www.linkedin.com/in/{{ site.authorLinkedIn }}">
        <img class="avatar" src="{{ site.baseurl  }}assets/images/medium1x.png">
        <!-- div>
            <span class="dark">{{ site.author }}</span>
        </div -->
    </a>
    
    <!-- section id="sharing">
        {% include share.html %}
    </section -->
</footer>
